/* start global rules */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" slant;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes fill-to-right {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* start fill */
.fill::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 4px;
  background-color: #1787e0;
  z-index: 10;
  transition: 0.4s;
}
.fill:hover::before {
  width: 100%;
}
/* end fill */

/* start component */

/* start special head */
.special-head {
  padding: 10px 20px;
  margin-bottom: 100px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px black;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  z-index: 500;
}
.special-head:hover {
  color: white;
  border: solid 2px white;
  transition-delay: 0.5s;
}
.special-head::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: -30px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  z-index: -1;
}
.special-head::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: -30px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  z-index: -1;
}
.special-head:hover::before {
  animation: right-move-title 0.5s linear forwards;
}
.special-head:hover::after {
  animation: left-move-title 0.5s linear forwards;
}
@keyframes left-move-title {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    border-radius: 0%;
    height: 100%;
    width: 100%;
  }
}
@keyframes right-move-title {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    left: 0;
    border-radius: 0%;
    height: 100%;
    width: 100%;
  }
}
/* end special head */

/* start spikes */
.spikes {
  position: relative;
  width: 100%;
}
.spikes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  top: 0;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-size: 30px;
  /* background-size: 20px; */
}
/* end spikes */

/* end component */

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* start variabels */

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
}

/* end variabels */

/* start landing */
.landing {
  height: 100vh;
  width: 100%;
  position: relative;
}
/* start header */

.landing header {
  box-shadow: 0px 1px 7px 0px #d2d2d2;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.landing header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.landing header .container .logo {
  color: var(--main-color);
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.landing header .container .links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@keyframes fill-to-right {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.landing header .container .links .links-li .out-link {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: black;
  text-transform: capitalize;
  font-size: 17px;
  transition-duration: 0.3s;
}
.landing header .container .links .links-li .out-link:hover {
  background-color: rgb(249, 246, 246);
  color: var(--main-color);
}
@media (max-width: 767px) {
  .landing header .container {
    flex-direction: column;
    align-items: center;
  }
  .landing header .container .links .links-li .out-link {
    font-size: 15px;
    padding: 20px 10px;
  }
}
.landing header .container .links .link-page {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(110%);
  visibility: hidden;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
  display: flex;
  column-gap: 30px;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition-duration: 0.4s;
  z-index: 100;
}
.landing header .container .links .links-li:last-child:hover .link-page {
  visibility: visible;
  transform: translateY(100%);
  opacity: 1;
}
.landing header .container .links .link-page img {
  width: 40%;
}
.landing header .container .links .link-page ul {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 992px) {
  .landing header .container .links .link-page img {
    display: none;
  }
  .landing header .container .links .link-page ul {
    flex: 1;
  }
}
.landing header .container .links .link-page .fill {
  position: relative;
}
.landing header .container .links .link-page .fill::before {
  height: 100%;
  background-color: rgb(248, 248, 248);
  z-index: -1;
}

.landing header .container .links .link-page ul li:not(:last-child) {
  border-bottom: 1px solid #c6c5c5;
}
@media (max-width: 767px) {
  .landing header .container .links .link-page {
    flex-direction: column;
  }
  .landing header .container .links .link-page ul li:last-child {
    border-bottom: 1px solid #c6c5c5;
  }
}
.landing header .container .links .link-page ul li a i {
  display: inline-block;
  color: var(--main-color);
  width: 20px;
  font-size: 19px;
  margin-right: 14px;
}
.landing header .container .links .link-page ul li a {
  display: inline-block;
  color: var(--main-color);
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

/* end header */

/* start content */
.landing .content {
  width: 100%;
  padding-top: 40px;
}
.landing {
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  position: absolute;
  top: -42px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ececec;
  transform-origin: bottom left;
  transform: rotate(-5deg) scale(2);
}
.landing .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .landing .content .container {
    flex-direction: column;
  }
  .landing .content .container .text {
    text-align: center;
  }
}
.landing .content .container .text {
  padding: 15px;
  padding-bottom: 80px;
}
.landing .content .container .text h2 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.6;
}

.landing .content .container .text p {
  line-height: 1.5;
  font-size: 23px;
  color: #525252;
}
.landing .content .container .image img {
  width: 600px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .landing .content .container .text h2 {
    font-size: 25px;
  }
  .landing .content .container .text p {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .landing .content .container .image {
    display: none;
  }
}

@keyframes top-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.landing .content .container .image {
  animation-name: top-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.landing .icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .icon a i {
  font-weight: 1000;
  color: var(--main-color);
  font-size: 30px;
  animation-name: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  transition-duration: 0.3s;
}
@keyframes move {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
}
.landing .icon a:hover i {
  color: #1787e0;
}

/* end content */

/* end landing */

/* start articles */

.articles {
  padding-top: 100px;
  padding-bottom: 100px;
}
.articles .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px 40px;
}
.articles .container .cards .box {
  box-shadow: 0px 0px 13px 2px #e3e3e3;
  transition-duration: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.articles .container .cards .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 13px 2px #c9c6c6;
}
.articles .container .cards .box img {
  width: 100%;
}
.articles .container .cards .box .text {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.articles .container .cards .box .text h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.articles .container .cards .box .text p {
  line-height: 1.5;
}
.articles .container .cards .box .links {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .cards .box .links a:first-child {
  display: inline-block;
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}
@keyframes right-move {
  0% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}
.articles .container .cards .box .links a:last-child i {
  color: var(--main-color);
}
.articles .container .cards .box:hover .links a:last-child i {
  animation-name: right-move;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

/* end articles */

/* start gallery */

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.gallery .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 40px;
}
.gallery .container .cards .box {
  box-shadow: 0px 0px 5px 1px #888888;
  border: 15px solid white;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.gallery .container .cards .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.33);
  z-index: 10;
  opacity: 0;
}
.gallery .container .cards .box:hover::before {
  animation-name: full-white;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
@keyframes full-white {
  0% {
    opacity: 1;
    width: 0%;
    height: 0%;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@media (max-width: 767px) {
  .gallery .container .cards {
    column-gap: 0;
  }
  .gallery .container .cards .box {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .gallery .container .cards .box {
    width: calc((100% - 40px) / 2);
  }
}
@media (min-width: 1200px) {
  .gallery .container .cards .box {
    width: calc((100% - 80px) / 3);
  }
}
.gallery .container .cards .box img {
  width: 100%;
  transition-duration: 0.5s;
}
.gallery .container .cards .box:hover img {
  transform: rotate(4deg);
  scale: 1.1;
}

/* end gallery */

/* start features */

.features {
  padding-top: 100px;
  padding-bottom: 100px;
}
.features .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 40px;
}
.features .container .cards .box {
  border: 0.5px solid rgb(184, 184, 184);
}
.features .container .cards .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .cards .box .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.features .container .cards .box:first-child .image::after {
  background-color: rgba(255, 0, 0, 0.508);
}
.features .container .cards .box:nth-child(2) .image::after {
  background-color: rgba(0, 128, 0, 0.504);
}
.features .container .cards .box:last-child .image::after {
  background-color: #1786e082;
}
.features .container .cards .box .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0px 0px 170px 500px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  z-index: 3;
  transition-duration: 0.3s;
}
.features .container .cards .box:hover .image::before {
  border-width: 170px 500px 170px 0px;
}
.features .container .cards .box .image img {
  width: 100%;
}
.features .container .cards .box .text {
  padding: 30px;
  text-align: center;
}
.features .container .cards .box .text h4 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
.features .container .cards .box .text h4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
}
.features .container .cards .box:first-child .text h4:before {
  background-color: red;
}
.features .container .cards .box:nth-child(2) .text h4:before {
  background-color: green;
}
.features .container .cards .box:last-child .text h4:before {
  background-color: var(--main-color);
}
.features .container .cards .box .text p {
  line-height: 1.5;
  font-size: 18px;
  color: #525252;
  padding-top: 35px;
  padding-bottom: 35px;
}
.features .container .cards .box a {
  display: inline-block;
  padding: 10px 20px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.features .container .cards .box:first-child .text a {
  color: red;
  border-color: red;
}
.features .container .cards .box:nth-child(2) .text a {
  color: green;
  border-color: green;
}
.features .container .cards .box:last-child .text a {
  color: var(--main-color);
  border-color: var(--main-color);
}
.features .container .cards .box .text a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.features .container .cards .box:first-child .text a::before {
  background-color: red;
}
.features .container .cards .box:nth-child(2) .text a::before {
  background-color: green;
}
.features .container .cards .box:last-child .text a::before {
  background-color: var(--main-color);
}
.features .container .cards .box:hover .text a {
  color: white;
}
.features .container .cards .box:hover .text a::before {
  width: 100%;
}

/* end features */

/* start testimonials */
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.testimonials .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 40px;
}
.testimonials .container .cards .box {
  position: relative;
  padding: 15px;
  box-shadow: 0px 1px 13px 2px #d0d0d0;
  background-color: white;
  border-radius: 5px;
}

.testimonials .container .cards .box .image {
  position: absolute;
  overflow: hidden;
  right: -12px;
  top: 0;
  transform: translateY(-50%);
}
.testimonials .container .cards .box .image img {
  border: 12px solid #ececec;
  width: 100px;
  border-radius: 50%;
}
.testimonials .container .cards .box h4 {
  font-size: 20px;
  text-transform: capitalize;
}
.testimonials .container .cards .box span {
  display: inline-block;
  color: rgb(136, 136, 136);
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.testimonials .container .cards .box .stars {
  margin-bottom: 15px;
}
.testimonials .container .cards .box .stars i {
  display: inline-block;
  margin-right: 5px;
}
.testimonials .container .cards .box .one i:not(:last-child) {
  color: gold;
}
.testimonials .container .cards .box .two i:not(:last-child) {
  color: gold;
}
.testimonials .container .cards .box .three i:not(:last-child) {
  color: gold;
}
.testimonials .container .cards .box .four i {
  color: gold;
}
.testimonials .container .cards .box .five i:nth-child(1) {
  color: gold;
}
.testimonials .container .cards .box .five i:nth-child(2) {
  color: gold;
}
.testimonials .container .cards .box .five i:nth-child(3) {
  color: gold;
}
.testimonials .container .cards .box .six i:nth-child(1) {
  color: gold;
}
.testimonials .container .cards .box .six i:nth-child(2) {
  color: gold;
}
.testimonials .container .cards .box .six i:nth-child(3) {
  color: gold;
}
.testimonials .container .cards .box p {
  color: rgb(136, 136, 136);
  line-height: 1.5;
}

/* end testimonials */

/* start tram members */

.team-members {
  padding-top: 100px;
  padding-bottom: 100px;
}
.team-members .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 40px;
}
.team-members .container .cards .box {
  padding-top: 60px;
  padding-bottom: 5px;
  position: relative;
}
.team-members .container .cards .box::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  background-color: #ececec;
  z-index: -1;
}
.team-members .container .cards .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 10px;
  background-color: #88888822;
  transition-duration: 0.3s;
}
.team-members .container .cards .box:hover::after {
  width: 80%;
}
.team-members .container .cards .box:hover .part img {
  filter: grayscale(100%);
}
.team-members .container .cards .box .part {
  display: flex;
  justify-content: space-between;
}
.team-members .container .cards .box .part .links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.team-members .container .cards .box .part img {
  display: inline-block;
  width: 85%;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.team-members .container .cards .box .part .links a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.team-members .container .cards .box .part .links a i {
  color: #888888;
  transition-duration: 0.3s;
}
.team-members .container .cards .box .part .links a:hover i {
  color: var(--main-color);
}
.team-members .container .cards .box .text {
  padding: 20px;
  margin-left: 20%;
}
.team-members .container .cards .box .text h3 {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 10px;
  text-transform: capitalize;
  transition-duration: 0.3s;
}
.team-members .container .cards .box:hover h3 {
  color: #888888;
}
.team-members .container .cards .box .text p {
  color: #525252;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .team-members .container .cards .box::before {
    width: 100%;
  }
  .team-members .container .cards .box:hover::after {
    width: 100%;
  }
  .team-members .container .cards .box {
    padding: 30px 0px 30px 30px;
  }
  .team-members .container .cards .box .text {
    margin-left: 0px;
    padding: 30px 0px 0px 0px;
  }
}
/* end tram members */

/* start services */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.services .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 40px;
}
.services .container .cards .box {
  background-color: white;
  position: relative;
  box-shadow: 0px 1px 8px 0px #c3c3c3;
  transition: transform 0.3s;
}
.services .container .cards .box:hover {
  transform: translateY(-10px);
}

.services .container .cards .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.3s;
}
.services .container .cards .box:hover::before {
  width: 100%;
}
.services .container .cards .box i {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 60px;
  color: #d7d7d7;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.services .container .cards .box h2 {
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 40px;
  text-transform: capitalize;
}
.services .container .cards .box .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #f5f5f5;
}
.services .container .cards .box .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 75px;
  background-color: #d7d7d7;
  width: 60px;
  height: 103%;
  z-index: 10;
  transform: skew(-25deg);
}
.services .container .cards .box .text .number {
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 10px 40px 10px 15px;
  font-weight: bold;
  background-color: var(--main-color);
}
.services .container .cards .box .text a {
  display: inline-block;
  padding: 10px;
  color: var(--main-color);
  text-transform: capitalize;
}
/* end services */

/* start skills */

.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.our-skills .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-skills .container .cards img {
  width: 45%;
}
@media (max-width: 992px) {
  .our-skills .container .cards img {
    display: none;
  }
}
.our-skills .container .cards .box {
  flex: 1;
}
.our-skills .container .cards .box .text {
  margin-bottom: 21px;
}
.our-skills .container .cards .box .text h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.our-skills .container .cards .box .text .long {
  width: 100%;
  height: 30px;
  background-color: #ececec;
  position: relative;
  margin-top: 16px;
}
.our-skills .container .cards .box .text .long::before {
  position: absolute;
  color: var(--main-color);
  right: 0;
  top: 0;
  transform: translateY(-185%);
  border: 0.5px solid #c5c5c5;
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}
.our-skills .container .cards .box .text .long::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  z-index: 2;
}
.our-skills .container .cards .box .text:first-child .long::before {
  content: "80%";
}
.our-skills .container .cards .box .text:first-child .long::after {
  width: 80%;
}
.our-skills .container .cards .box .text:nth-child(2) .long::before {
  content: "85%";
}
.our-skills .container .cards .box .text:nth-child(2) .long::after {
  width: 85%;
}
.our-skills .container .cards .box .text:nth-child(3) .long::before {
  content: "70%";
}
.our-skills .container .cards .box .text:nth-child(3) .long::after {
  width: 70%;
}
.our-skills .container .cards .box .text:last-child .long::before {
  content: "80%";
}
.our-skills .container .cards .box .text:last-child .long::after {
  width: 80%;
}

/* end skills */

/* start how it works  */

.how-it-works {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
}
.how-it-works .container .cards {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.how-it-works .container .cards .img-top {
  width: 45%;
}
@media (max-width: 767px) {
  .how-it-works .container .cards .img-top {
    width: 80%;
  }
}
.how-it-works .container .cards .box {
  flex: 1;
}
.how-it-works .container .cards .box .text {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #f3f3f3;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 2px white;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.how-it-works .container .cards .box .text::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ececec;
  transition-duration: 0.3s;
  z-index: -1;
}
.how-it-works .container .cards .box .text:hover::before {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .how-it-works .container .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}
.how-it-works .container .cards .box .text img {
  width: 70px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .how-it-works .container .cards .box .text {
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
  }
  .how-it-works .container .cards .box .text img {
    margin-right: 0;
  }
}
.how-it-works .container .cards .box .text .info {
  flex: 1;
}
.how-it-works .container .cards .box .text .info h3 {
  margin-bottom: 15px;
  font-size: 22px;
}
.how-it-works .container .cards .box .text .info p {
  line-height: 1.6;
  font-size: 17px;
  color: #747474;
}
/* end how it works  */

/* start latest events */

.latest-events {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  position: relative;
  z-index: 1;
}
.latest-events .image-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 22%;
  width: 130px;
}
.latest-events .image-2 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 22%;
  width: 130px;
}
.latest-events .container .cards {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}
.latest-events .container .cards .events {
  width: 40%;
}
@media (max-width: 992px) {
  .latest-events .container .cards {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .latest-events .container .cards .events {
    width: 60%;
  }
  .latest-events .image-1,
  .latest-events .image-2 {
    display: none;
  }
}
.latest-events .container .cards .text .spans {
  display: flex;
  column-gap: 15px;
  text-align: center;
  justify-content: center;
}
.latest-events .container .cards .text .spans .parent {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #747474;
  column-gap: 20px;
  width: 70px;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.latest-events .container .cards .text .spans .parent span:first-child {
  border-bottom: 1px solid #747474;
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0px;
  transition-duration: 0.3s;
}
.latest-events .container .cards .text .spans .parent:hover,
.latest-events .container .cards .text .spans .parent:hover span:first-child {
  border-color: var(--main-color);
}
.latest-events .container .cards .text .spans .parent span:last-child {
  color: rgb(55, 55, 55);
  padding: 10px 0px;
  font-size: 14px;
}
.latest-events .container .cards .text .paragraph {
  text-align: center;
}
.latest-events .container .cards .text .paragraph h3 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.latest-events .container .cards .text .paragraph p {
  line-height: 1.6;
  color: #747474;
  font-size: 20px;
}
.latest-events .container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  border-radius: 90px;
  width: 60%;
  column-gap: 40px;
}
@media (max-width: 768px) {
  .latest-events .container form {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
    border-radius: 0px;
    padding: 25px;
    width: 80%;
  }
  .latest-events .container .cards .text .paragraph h3 {
    font-size: 25px;
  }
  .latest-events .container .cards .text .paragraph p {
    font-size: 18px;
  }
}
.latest-events .container form input[type="email"] {
  border: none;
  outline: none;
  background-color: white;
  color: var(--main-color);
  text-transform: capitalize;
  padding: 20px;
  width: 100%;
  border-radius: 50px;
}
.latest-events .container form input[type="email"]::placeholder {
  color: #747474;
  transition-duration: 0.4s;
}
.latest-events .container form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.latest-events .container form input[type="submit"] {
  border: none;
  text-transform: capitalize;
  background-color: var(--main-color);
  color: white;
  transition-duration: 0.4s;
  font-size: 16px;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .latest-events .container form input[type="email"] {
    border-radius: 0px;
    padding: 10px;
  }
  .latest-events .container form input[type="email"]::placeholder {
    text-align: center;
  }
  .latest-events .container form input[type="submit"] {
    border-radius: 0px;
    padding: 10px;
  }
}
.latest-events .container form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end latest events */

/* start pricing */

.pricing-plans {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ececec;
  position: relative;
}
.pricing-plans:before,
.pricing-plans:after {
  content: "";
  position: absolute;
  background-image: url("../images/dots.png");
  width: 200px;
  height: 200px;
  background-size: cover;
}
.pricing-plans:before {
  left: 0;
  top: 200px;
}
.pricing-plans:after {
  right: 0;
  bottom: 200px;
}
.pricing-plans .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 30px;
}
.pricing-plans .container .cards .box {
  background-color: white;
  box-shadow: 0px 4px 11px 1px rgb(197, 197, 197);
  position: relative;
  z-index: 10;
}
.pricing-plans .container .cards .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  transition-duration: 0.3s;
  z-index: -1;
}
.pricing-plans .container .cards .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 50%;
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
  transition-duration: 0.3s;
  z-index: -1;
}
.pricing-plans .container .cards .box:hover::before {
  width: 100%;
}
.pricing-plans .container .cards .box:hover::after {
  width: 100%;
}
.pricing-plans .container .cards .box:nth-child(2) {
  transform: translateY(-30px);
}
@media (max-width: 1200px) {
  .pricing-plans .container .cards .box:nth-child(2) {
    transform: translateY(0px);
  }
}
.pricing-plans .container .cards .box .top {
  text-align: center;
  position: relative;
  padding-top: 40px;
}
.pricing-plans .container .cards .box:nth-child(2) .top::before {
  content: "most popular";
  position: absolute;
  padding: 10px 40px 10px 10px;
  background-color: var(--main-color);
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  right: -120px;
  top: 0;
  transform-origin: top left;
  transform: rotate(90deg);
}
.pricing-plans .container .cards .box:nth-child(2) .top::after {
  content: "";
  position: absolute;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  top: 103px;
  right: 22px;
}
.pricing-plans .container .cards .box .top h2 {
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}
.pricing-plans .container .cards .box .top img {
  width: 20%;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pricing-plans .container .cards .box .top h3 {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing-plans .container .cards .box .top span {
  display: inline-block;
  padding-bottom: 20px;
  color: #888888;
}
.pricing-plans .container .cards .box ul {
  list-style-type: none;
  width: 100%;
}
.pricing-plans .container .cards .box ul li {
  padding: 8x 0px 8px 8px;
  border-top: 0.5px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
}
.pricing-plans .container .cards .box ul li i {
  display: inline-block;
  font-size: 20px;
  color: var(--main-color);
  margin: 15px;
}
.pricing-plans .container .cards .box ul li p {
  font-size: 17px;
}
.pricing-plans .container .cards .box a {
  display: inline-block;
  padding: 15px 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transition-duration: 0.3s;
  border-radius: 6px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 40px 0px;
  text-transform: capitalize;
  font-weight: bold;
}
.pricing-plans .container .cards .box a:hover {
  background-color: var(--main-color);
  color: white;
}
/* end pricing */

/* start top videos */

.top-videos {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.top-videos .container .cards {
  display: flex;
  border: solid 0.5px #d9d9d9;
  justify-content: center;
}
.top-videos .container .cards .left {
  width: 25%;
}
@media (max-width: 992px) {
  .top-videos .container .cards {
    flex-direction: column;
  }
  .top-videos .container .cards .left {
    width: 100%;
  }
}
.top-videos .container .cards .left .head {
  padding: 15px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px #ebebeb;
}
.top-videos .container .cards .left .head h4 {
  text-transform: capitalize;
  font-size: 20px;
}
.top-videos .container .cards .left .head i {
  font-size: 20px;
  transition-duration: 0.4s;
  padding: 5px;
  cursor: pointer;
}
.top-videos .container .cards .left i:hover {
  color: var(--main-color);
}
.top-videos .container .cards .left ul {
  list-style-type: none;
  width: 100%;
}
.top-videos .container .cards .left ul li {
  background-color: white;
}
.top-videos .container .cards .left ul li:not(:last-child) {
  border-bottom: solid 0.5px #ebebeb;
}
.top-videos .container .cards .left ul li a {
  text-transform: capitalize;
  display: block;
  padding: 20px;
  transition-duration: 0.4s;
  color: black;
}
.top-videos .container .cards .left ul li a:hover {
  background-color: #f7f7f7;
  color: var(--main-color);
}
.top-videos .container .cards .left ul li a span {
  display: inline-block;
  margin-top: 10px;
  color: #989898;
}
.top-videos .container .cards .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #ececec;
}
.top-videos .container .cards .right video {
  width: 100%;
}
.top-videos .container .cards .right p {
  margin-top: 15px;
  background-color: white;
  padding: 20px;
  text-transform: capitalize;
}
/* end top videos */

/* start stats */
.stats {
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  filter: opacity(0.1);
}
.stats .container {
  position: relative;
  text-align: center;
}
.stats .container .special {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.stats .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 20px;
}
.stats .container .cards .box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  position: relative;
}
.stats .container .cards .box::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 2px;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  transition-duration: 0.9s;
}
.stats .container .cards .box::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transition-duration: 0.9s;
}
.stats .container .cards .box:hover::before {
  height: 100%;
}
.stats .container .cards .box:hover::after {
  height: 100%;
}
.stats .container .cards .box i:first-child {
  display: block;
  font-size: 35px;
}
.stats .container .cards .box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
}
.stats .container .cards .box .text {
  font-weight: bold;
  display: block;
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
}
/* end stats */

/* start email */

.emails {
  width: 100%;
  min-height: 90vh;
  display: flex;
}
@media (max-width: 992px) {
  .emails {
    flex-direction: column;
  }
}
.emails .left {
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 1;
  background-color: #1786e0f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.emails .left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/discount-background2.jpg");
  background-size: cover;
  z-index: -2;
  transition: 4s;
  animation-name: foto-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.emails .left::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/discount-background1.jpg");
  background-size: cover;
  animation-name: foto-1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes foto-1 {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes foto-2 {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.emails .left .content {
  text-align: center;
  width: 80%;
}
.emails .left .content h2 {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
}
.emails .left .content p {
  font-size: 17px;
  color: white;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
}
.emails .left .content img {
  width: 300px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .emails .left .content img {
    width: 70%;
  }
}
.emails .right {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emails .right .content {
  text-align: center;
  width: 350px;
}
.emails .right .content h2 {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}
.emails .right .content form .inputs {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  background-color: #f4f4f4;
  color: var(--main-color);
  outline: none;
  border: none;
  border-bottom: solid 0.8px #c3c3c3;
}
.emails .right .content form .inputs::placeholder {
  color: #888888;
  text-transform: capitalize;
  opacity: 1;
  transition-duration: 0.3s;
}
.emails .right .content form .inputs:focus::placeholder {
  opacity: 0;
}
.emails .right .content form textarea {
  resize: none;
  height: 120px;
}
.emails .right .content form input[type="submit"] {
  width: 100%;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  border: none;
  text-transform: capitalize;
  transition-duration: 0.3s;
  cursor: pointer;
}
.emails .right .content form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end email */

/* start footer */

footer {
  background-color: rgb(25, 25, 25);
}
footer .container .cards {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px 40px;
}
footer .container .cards .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .cards .title h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}
@media (max-width: 768px) {
  footer .container .cards .title {
    align-items: center;
    text-align: center;
  }
}
footer .container .cards .title .icons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
footer .container .cards .title .icons a {
  margin-right: 10px;
}
footer .container .cards .title .icons i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #c3c3c3;
  background-color: #3f3f3f;
  transition-duration: 0.4s;
}
footer .container .cards .title .icons a:first-child:hover i {
  background-color: rgb(84, 84, 255);
}
footer .container .cards .title .icons a:nth-child(2):hover i {
  background-color: rgb(0, 176, 0);
}
footer .container .cards .title .icons a:last-child:hover i {
  background-color: rgb(215, 40, 40);
}
footer .container .cards .title p {
  line-height: 1.6;
  color: #c3c3c3;
}
footer .container .cards ul {
  list-style-type: none;
}
footer .container .cards ul li:not(:last-child) {
  border-bottom: solid 1px #5c5c5c;
}
footer .container .cards ul li a {
  display: inline-block;
  color: #c3c3c3;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.4s;
  text-transform: capitalize;
}
footer .container .cards ul li a i {
  margin-right: 10px;
  color: var(--main-color);
  font-weight: bold;
}
footer .container .cards ul li:hover a {
  padding-left: 20px;
}
footer .container .cards .location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .cards .location .content {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
footer .container .cards .location .content i {
  color: var(--main-color);
  font-size: 25px;
  display: inline-block;
  margin-right: 15px;
}
@media (max-width: 768px) {
  footer .container .cards .location .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  footer .container .cards .location .content i {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
footer .container .cards .location .content p {
  color: #c3c3c3;
  line-height: 1.6;
}
footer .container .cards .fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px 7px;
  align-content: flex-start;
}
footer .container .cards .fotos img {
  width: 100%;
  display: inline-block;
  border: solid 2px white;
}
footer .copy {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  border-top: solid 1px #5c5c5c;
  font-size: 18px;
}
/* end footer */
